
<h1 class="display-4">Trivia Trove</h1>
<div id="players">
    <h2 class="Player1 d-inline">Player 1:
    </h2><span id="score1"></span>
     <button type="submit" id="submitHighScore">Submit Score</button>
    {{!-- <h2 class="player2 d-inline">Player 2:
        <span id="score2"></span>
    </h2>
    <h2 class="player3 d-inline">Player 3:
        <span id="score3"></span>
    </h2> --}}
</div>
<hr>
<br>
<section class="main">

    <ul class="ch-grid">
        {{#each topRow}}
        <li>
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front" style="background-image: url('./images/{{img}}.jpg')"></div>
                    <div class="ch-info-back">
                        <br>
                        <a href="/category/{{diff}}/{{id}}">
                            <h3 data-id="{{id}}" class="category">{{category}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}

    </ul>

    <ul class="ch-grid">
        {{#each middleRow}}
        <li>
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front" style="background-image: url('./images/{{img}}.jpg')"></div>
                    <div class="ch-info-back">
                        <br>
                        <a href="/category/{{diff}}/{{id}}">
                            <h3 data-id="{{id}}" class="category">{{category}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>

    <ul class="ch-grid">
        {{#each bottomRow}}
        <li>
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front" style="background-image: url('./images/{{img}}.jpg')"></div>
                    <div class="ch-info-back">
                        <br>
                        <a href="/category/{{diff}}/{{id}}">
                            <h3 data-id="{{id}}" class="category">{{category}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>


</section>






<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please enter your name 😊</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" id="playerName" placeholder="First name" style="color:orange" value="" required>
                    </div>

                    <p style="color:orange">Click any icon to select your preference after entering your name.</p>
                   <div class="container">
                       <div class="row">
                           <div class="col-md-4">

                        <li class="modal-li">
                            <div class="ch-item">
                                <div class="ch-info">
                                    <div class="ch-info-front2 ch-img-1"></div>
                                    <div class="ch-info-back diffButton">
                                            <h4 data-id="easy">Easy</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </div>
                        <div class="col-md-4">
                        <li class="modal-li">
                            <div class="ch-item">
                                <div class="ch-info">
                                    <div class="ch-info-front2 ch-img-2"></div>
                                    <div class="ch-info-back diffButton">
                                            <h4 data-id="medium">Medium</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </div>
                        <div class="col-md-4">
                        <li class="modal-li">
                            <div class="ch-item">
                                <div class="ch-info">
                                    <div class="ch-info-front2 ch-img-3"></div>
                                    <div class="ch-info-back diffButton">
                                            <h4 data-id="hard">Hard</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </div>
                        </div>
                        </div>

                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="log-in">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pointsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pointsTitle" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="pointsClose" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="pointsBody"></p>
                <button type="submit" id="submitHighScore">Submit Score</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<script src="/js/index.js"></script>